<html>

<head>



  <title></title>
  <!-- Latest compiled and minified CSS -->


<body>
<p id="notice"><%=notice %></p>
</br></br>

  <div class="container">
    <div class="row">
     <h1>Leaderboards</h1>
    
    <div class="col-md-3">
    <h2>Welcome, <%= current_user.name %>!</h2>
    <img class='avatar' src="<%=current_user.avatar%>">

     </div> 


      <div id="distance" class="col-md-3">

<h2>Distance</h2>
<p>You are #<%= (@miles_leaders.index(current_user) + 1) %> in distance for the last seven days. </p>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Miles</th>
    </tr>
  </thead>

  <tbody>
    <% @miles_leaders.each do |user| %>
      <tr>
        <% if user == current_user %>
          <td><b> <%= link_to (user.name), user %> </b></td>
          <td><b><%= user.activity_totals(7)[:miles].to_i %></b></td>
        <% else %>
          <td><%= link_to (user.name), user %></td>
          <td><%= user.activity_totals(7)[:miles].to_i %> </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

</div>

<div id="floors" class="col-md-3">
<h2>Floors</h2>
<p>You are #<%= (@floors_leaders.index(current_user) + 1) %> in floors climbed for the last seven days. </p>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Floors</th>
    </tr>
  </thead>

  <tbody>
    <% @floors_leaders.each do |user| %>
      <tr>
        <% if user == current_user %>
          <td><b> <%= link_to (user.name), user %> </b></td>
          <td><b><%= user.activity_totals(7)[:floors].to_i %></b></td>
        <% else %>
          <td><%= link_to (user.name), user %></td>
          <td><%= user.activity_totals(7)[:floors].to_i %> </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

</div>

<div id="calories" class="col-md-3">
<h2>Calories</h2>
<p>You are #<%= (@calories_leaders.index(current_user) + 1) %> in calories burned for the last seven days. </p>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Calories</th>
    </tr>
  </thead>

  <tbody>
    <% @calories_leaders.each do |user| %>
      <tr>
        <% if user == current_user %>
          <td><b> <%= link_to (user.name), user %> </b></td>
          <td><b><%= user.activity_totals(7)[:calories].to_i %></b></td>
        <% else %>
          <td><%= link_to (user.name), user %></td>
          <td><%= user.activity_totals(7)[:calories].to_i %> </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

</div>

</div>
</div>

</body>
</html>





