<p id="notice"><%= notice %></p>

<img src="<%=@user.avatar%>">
<% if current_user == @user %>
  <h2>Welcome, <%= @user.name %>!</h2>
<% else %>
  <h2><%= @user.name %> </h2>
<% end %> 

<h2><%= @fitbit_info %> </h2>

<button id='get-data-day'>day</button>
<button id='get-data-week'>week</button>
<button id='get-data-month'>month</button>

<div id="alerts"></div>

<div id="walks-text"></div>
<div id="walks"></div>

<div id="buildings-text"></div>
<div id="buildings"></div>

<div id="wine-text"></div>
<div id="wine"></div>




<!--<%= link_to 'Back', users_path %>-->
