<p id="notice"><%= notice %></p>

<ul class="dashboard-head">
  <li><img class='avatar' src="<%=@user.avatar%>"></li>
  <% if current_user == @user %>
    <li><h2>Welcome, <%= @user.name %>!</h2></li>
  <% else %>
    <li><h2><%= @user.name %></h2></li>
  <% end %> 
  <li><button class='button' id='get-data-day'>day</button></li>
  <li><button class='button' id='get-data-week'>week</button></li>
  <li><button class='button' id='get-data-month'>month</button></li>
</ul>

<div class="dashboard-section" id="alerts"></div>

<div class="dashboard-section" id="walks-text"></div>
<div class="dashboard-section clearfix" id="walks"></div>

<div class="dashboard-section" id="buildings-text"></div>
<div class="dashboard-section clearfix" id="buildings"></div>

<div class="dashboard-section" id="wine-text"></div>
<div class="dashboard-section" id="wine"></div>




<!--<%= link_to 'Back', users_path %>-->
