
<body id="dashboard">

<div class="container">
  <div class="row">

<p id="notice"><%= notice %></p>

<div class="col-md-7 col-md-offset-5">
<ul class="dashboard-head">
  <li><button class='button' id='get-data-day'> Day </button></li>
  <li><button class='button' id='get-data-week'> Week </button></li>
  <li><button class='button' id='get-data-month'> Month </button></li>
</ul>
</div>



<div id="userleader" class="col-md-2">
<ul class="dashboard-head">

  <li><img class='avatar' src="<%=@user.avatar%>"></li>
  <% if current_user == @user %>
    <li><h2>Welcome, <%= @user.name %>!</h2></li>
  <% else %>
    <li><h2><%= @user.name %></h2></li>
  <% end %> 
</ul>

</br></br>
      <a id="links" href="https://www.facebook.com/fitcity.fitbit?ref=hl" target="_blank"> Like us on Facebook!</a> </br>
      <a id="links" href="https://twitter.com/FitcityApp" target="_blank"> Follow us on Twitter!</br> @FitcityApp</a>
</div>


  <div class="col-md-10">
<div class="dashboard-section" id="alerts"></div>


<div class="dashboard-section" id="walks-text"></div>
<% if current_user == @user %>
  <ul class="share-buttons">
    <li id="walk-tweet-button"></li>
    <li id="walk-fb-button"></li>
  </ul>
<% end %>
<div class="dashboard-section clearfix" id="walks"></div>
</div>

<div class="col-md-10 col-md-offset-2">



<div class="dashboard-section" id="buildings-text"></div>
<% if current_user == @user %>
  <ul class="share-buttons">
    <li id="building-tweet-button"></li>
    <li id="building-fb-button"></li>
  </ul>
  <% end %>
<div class="dashboard-section clearfix" id="buildings"></div>
</div>


<div class="col-md-10 col-md-offset-2">
<div class="dashboard-section" id="wine-text"> </div>
<% if current_user == @user %>
  <ul class="share-buttons">
    <li id="calorie-tweet-button"></li>
    <li id="calorie-fb-button"></li>
  </ul>
<% end %>
<div class="dashboard-section clearfix" id="wine"></div>
 </div>

<div>
    <script>window.twttr = (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0],
      t = window.twttr || {};
    if (d.getElementById(id)) return;
    js = d.createElement(s);
    js.id = id;
    js.src = "https://platform.twitter.com/widgets.js";
    fjs.parentNode.insertBefore(js, fjs);
   
    t._e = [];
    t.ready = function(f) {
      t._e.push(f);
    };
   
    return t;
  }(document, "script", "twitter-wjs"));</script>
</div>

</div>
</div>
</body>



<!--<%= link_to 'Back', users_path %>-->
