<!DOCTYPE html>
<html>
  <head>
    <title>My FitCity</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= link_to "leaderboard", users_path %>
    <% if current_user %>
      <%= link_to current_user.name, current_user %>
      <%= link_to "log out", logout_path%>
    <% else %>
      <%= link_to "log in", login_path %>
      <%= link_to "sign up", signup_path %>
    <% end %>

  <%= yield %>

  </body>
</html>
