<!DOCTYPE html>
<html>
  <head>
    <title>fit|city</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link href='https://fonts.googleapis.com/css?family=Wire+One|Oswald' rel='stylesheet' type='text/css'>
  </head>
  <body data-no-turbolink>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
      <!-- Optional theme -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
      <!-- Latest compiled and minified JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

<ul class="nav nav-tabs">
  <li role="presentation" class="active">
    <% if current_user %>
    <%= link_to current_user.name, current_user %> 
  </li>
  <li role="presentation" class="active">
   <%= link_to "leaderboard", users_path %>
  </li>
  <li role="presentation">
    <%= link_to "log out", logout_path%> 
    <% else %>
    <%= link_to "log in", login_path %>
    <%= link_to "sign up", signup_path %>
    <% end %> 
  </li>
    <p id="notice"><%= notice %></p>
</ul>

    
  <%= yield %>


      <script>window.twttr = (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0],
        t = window.twttr || {};
      if (d.getElementById(id)) return;
      js = d.createElement(s);
      js.id = id;
      js.src = "https://platform.twitter.com/widgets.js";
      fjs.parentNode.insertBefore(js, fjs);
     
      t._e = [];
      t.ready = function(f) {
        t._e.push(f);
      };
     
      return t;
    }(document, "script", "twitter-wjs"));</script>
  </body>
</html>
